{% extends "base.html.twig" %}


{% block body %}
    <div class='row'>
        <div class='col-12'>
            <h3>Commenaire pour l'événement {{agenda.titre}}</h3>
        </div>
    </div>

{% endblock %}